<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @locomotive_type.name %>
</p>

<%= link_to 'Edit', edit_locomotive_type_path(@locomotive_type) %> |
<%= link_to 'Back', locomotive_types_path %>
