<% title "Rediger Lokomotiv" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Vis", @train_lokomotive %> |
  <%= link_to "Vis Alle", train_lokomotives_path %> |
  <%= link_to "Forside", root_url %>
</p>
