<% title "Rediger Lokomotiv Type" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Vis", @lokomotive_type %> |
  <%= link_to "Vis Alle", lokomotive_types_path %> |
  <%= link_to "Forside", root_url %>
</p>
